/* Bootstrap overwrite */
.btn-sm {
	font-size: 14px !important;
	display: table;
}

.iconBtn {
	padding: 6px 6px !important;
}
/* End */

.main-wrap {
	width:80%;
	position:relative;
	left:10%;
}

article {
	margin-bottom:30px;
	margin-right:0;
	border-top:2px solid #eee;
	padding:10px 0 0;
	width: 100%;
}

header {
	margin-bottom:10px;
	position:relative;
}

h2 {
	word-wrap:break-word;
	font-size:20px;
	color:#000;
}

.left {
	float:left;
}

.right {
    float: right !important;
}

.dispTable {
	display: table;
}

.dispIB {
	display: inline-block;
	padding-left: 35px;
}

.padLeft5 {
	padding-left: 5px;
}

.padRight5 {
	padding-right: 5px;
}

.arrowLeft {
    height: 20px;
    width: 10px;
    background: url(../../images/arrow-left.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}

.arrowRight {
    height: 20px;
    width: 10px;
    background: url(../../images/arrow-right.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}

p.post-meta {
	display: inline-block;
	color:#587272;
	margin:10px 0;
}

p.post-meta span {
	font-size: 1.1em;
}

.post-container {
	width:100%;
	position:relative;
	display:block;
}

.wish {
	position: absolute; 
	height: 40px;
    width: 40px;
	top: 15px; 
	right: 15px;
	background-size: 100% 100%;
}

.heart {
	background-image:url(../../images/heart.png);
}

.heartFilled {
	background-image:url(../../images/heart_filled.png);
}

.post-afterbar-a {
	position:relative;
	margin:10px 0;
	padding-bottom:0;
}

.post-afterbar-a.in-list-view {
	width:100%;
}

.post-afterbar-a .share ul {
	overflow: hidden;
	list-style-type: none;
}

.post-afterbar-a .share li {
	float: left;
	margin-right: 5px;
}

.post-afterbar-a .share.right li {
	margin:0 0 0 5px;
}

.post-afterbar-a .btn-share img {
	width:40px;
	height:40px;
}

.post-afterbar-a .btn-share img:hover {
	opacity: 0.7;
}

.voteUp {
    height: 25px;
    width: 25px;
    background: url(../../images/arrow-up.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}

.voteDown {
    height: 25px;
    width: 25px;
    background: url(../../images/arrow-down.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}

.star {
    height: 20px;
    width: 20px;
    background: url(../../images/star.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}