<div class="main-wrap">
  <article *ngIf="product">
  <header>
    <h2>{{product.title}}</h2>
	</header>
  <div class="left">
    <a href="#" class="btn btn-primary btn-sm dispTable" (click)="navigatePrev();">
      <span class="arrowLeft"></span>
      <span class="padLeft5">Prev</span>
    </a>
  </div>
  <p class="post-meta">
	  <span>{{ calculatePoints(product.likes, product.dislikes) }} points</span>
    ·
    <span>{{product.wished}} wished</span>
  </p>
  <div class="right">
    <a href="#" class="btn btn-primary btn-sm dispTable" (click)="navigateNext();">
      <span class="padRight5">Next</span>
      <span class="arrowRight"></span>
    </a>
  </div>   
	<div class="post-container">
	  <swiper [config]="config">
      <div class="swiper-wrapper">
        <img *ngFor="let image of images" class="swiper-slide" src="src/content/{{image}}"> 
        <a href="#" (click)="addToWishlist(product._id);">
          <span class="wish" [ngClass]="{'heart': !wished, 'heartFilled': wished}"></span>
        </a>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
	</div>  
  <div class="post-afterbar-a in-list-view">
    <div class="left">
      <a href="#" (click)="voteUp(product._id);" class="iconBtn btn btn-primary" [ngClass]="{'btn-info': status == 'none', 'btn-success': status == 'like'}">
        <span class="voteUp"></span>
      </a>
      <a href="#" (click)="voteDown(product._id);" class="iconBtn btn btn-primary" [ngClass]="{'btn-info': status == 'none', 'btn-danger': status == 'dislike'}">
        <span class="voteDown"></span>
      </a>
    </div>
    <div class="dispIB">
      <a href="{{product.link}}" class="btn btn-primary btn-success dispTable">
        <span class="star"></span>
        <span class="padLeft5">Get !t</span>
      </a>
    </div>
    <div class="share right">
      <ul>
        <li><a href="javascript:void(0);" class="btn-share facebook" (click)="FBShare(product._id);"><img src="src/images/facebook.png"></a></li>
        <li><a href="javascript:void(0);" class="btn-share twitter" (click)="TwitterShare(product._id, product.title);"><img src="src/images/twitter.png"></a></li>
				<li><a href="javascript:void(0);" class="btn-share pinterest" (click)="PinterestShare(product._id, product.imagePath);"><img src="src/images/pinterest.png"></a></li>
      </ul>
    </div>
    <div class="clearBoth"></div>
  </div>   
  <p>{{product.description}}</p>
  </article>
</div>