/* Bootstrap overwrite */
.btn-sm {
	font-size: 14px !important;
	display: table;
}

.iconBtn {
	padding: 6px 6px !important;
}
/* End */

article {
	margin-bottom:20px;
	margin-right:0;
	width: 100%;
	border: 3px solid #f6f6f6;
    border-radius: 10px;
    background-color: #fafafa;
    padding-left: 10px;
    padding-right: 10px;
	padding-top: 10px;
}

article:first-child {
	margin-top: 40px;
}

header {	
	margin-bottom:10px;
	position:relative;
}

h2 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	word-wrap:break-word;
	font-size:20px;
	color:#000;
}

.ul, .ol {
	margin-bottom: 0px !important;
}

.left {
	float:left;
}

.right {
    float: right !important;
}

.dispTable {
	display: table;
}

.dispIB {
	display: inline-block;
	padding-left: 35px;
}

.padLeft5 {
	padding-left: 5px;
}

p.post-meta {
	display: inline-block;
	color:#587272;
}

p.post-meta span {
	font-size: 1.1em;
}

.post-container {
	width: 100%;
	position: relative;
}

.post-container a {
	display: block;
}

.post-container a img {
	display: block;
	width: 100%;
	border: none;
	border-radius: 5px;
}

.post-afterbar-a {
	position:relative;
	margin-top: 10px;
	padding-bottom:0;
}

.post-afterbar-a.in-list-view {
	width:100%;
}

.post-afterbar-a .share {
	float:left;
}

.post-afterbar-a .share ul {
	overflow:hidden;
	list-style-type:none;
}

.post-afterbar-a .share li {
	float:left;
	margin-right:5px;
}

.post-afterbar-a .share.right li {
	margin:0 0 0 5px;
}

.post-afterbar-a .btn-share img {
	width:40px;
	height:40px;
}

.post-afterbar-a .btn-share img:hover {
	opacity: 0.7;
}

.voteUp {
    height: 25px;
    width: 25px;
    background: url(../../images/arrow-up.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}

.voteDown {
    height: 25px;
    width: 25px;
    background: url(../../images/arrow-down.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}

.star {
    height: 20px;
    width: 20px;
    background: url(../../images/star.png) no-repeat;
    background-size: 100% 100%;
	display: table-cell;
 	vertical-align: middle;
}