<article *ngFor="let product of products">
  <header>
    <h2>{{product.title}}</h2>
  </header>
  <p class="post-meta">
    <span>{{ calculatePoints(product.likes, product.dislikes) }} points</span>
    ·
    <span>{{product.wished}} wished</span>
  </p>
  <div class="post-container">
    <a [routerLink]="['/productDetails', product._id]">
      <img src="src/content/{{product.imagePath}}">
    </a>
  </div>
  <div class="post-afterbar-a in-list-view">
    <div class="left">
      <a href="#" (click)="voteUp(product._id);" class="iconBtn btn btn-primary" [ngClass]="{'btn-info': status == 'none', 'btn-success': status == 'like'}">
        <span class="voteUp"></span>
      </a>
      <a href="#" (click)="voteDown(product._id);" class="iconBtn btn btn-primary" [ngClass]="{'btn-info': status == 'none', 'btn-danger': status == 'dislike'}">
        <span class="voteDown"></span>
      </a>
    </div>
    <div class="dispIB">
      <a href="{{product.link}}" class="btn btn-primary btn-success dispTable">
        <span class="star"></span>
        <span class="padLeft5">Get !t</span>
      </a>
    </div>
    <div class="share right">
      <ul>
        <li><a href="javascript:void(0);" class="btn-share facebook" (click)="FBShare(product._id);"><img src="src/images/facebook.png"></a></li>
        <li><a href="javascript:void(0);" class="btn-share twitter" (click)="TwitterShare(product._id, product.title);"><img src="src/images/twitter.png"></a></li>
				<li><a href="javascript:void(0);" class="btn-share pinterest" (click)="PinterestShare(product._id, product.imagePath);"><img src="src/images/pinterest.png"></a></li>
      </ul>
    </div>
    <div class="clearBoth"></div>
  </div> 
</article>