<article *ngFor="let product of coverProducts">
  <header>
    <h2>{{product.title}}</h2>
  </header>
  <div class="post-container">
    <a href="" target="_blank">
      <img src="../../content/{{product.pictureName}}">
    </a>
  </div>
  <p class="post-meta">
    <a href="" target="_blank">
      <span>{{ calculatePoints(product.likes, product.dislikes) }} points</span>
    </a> 
    ·
    <a href="" target="_blank">{{product.wished}} wished</a>
  </p>
  <div class="post-afterbar-a in-list-view">
    <div class="vote btn-vote">
      <a href="javascript:void(0);" class="btn btn-up">
        <svg role="img" height="30" width="30"></svg>
      </a>
    </div>
    <div class="vote btn-vote">
      <a href="javascript:void(0);" class="btn btn-down">
        <svg role="img" height="30" width="30"></svg>
      </a>
    </div>
    <div class="vote btn-vote">
      <a href="javascript:void(0);" class="btn btn-comment">
        <svg role="img" height="30" width="30"></svg>
      </a>
    </div>
    <div class="share right">
      <ul>
        <li><a href="javascript:void(0);" class="btn-share facebook" rel="nofollow"><img src="src/images/facebook.png"></a></li>
        <li><a href="javascript:void(0);" class="btn-share twitter" rel="nofollow"><img src="src/images/twitter.png"></a></li>
				<li><a href="javascript:void(0);" class="btn-share instagram" rel="nofollow"><img src="src/images/instagram.png"></a></li>
        <li><a href="javascript:void(0);" class="btn-share pinterest" rel="nofollow"><img src="src/images/pinterest.png"></a></li>
      </ul>
    </div>
    <div class="clearBoth"></div>
  </div>
</article>