/* GENERAL */

* {
    font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    outline:0;
    padding:0;
    margin:0;
    border:0;
    text-decoration:none;
    vertical-align:baseline;
    white-space:normal;
    line-height:1;
    font-size:1em;
}

body {
    text-align:center;
    margin:0;
    background-color:#DDD;
    color:#222;
    font:13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    min-width:940px;
    padding-top:50px;
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
    color:#00A5F0;
}

a:hover {
    color:#24BBFF;
}

html {
    height:auto;
}

.hide { 
    display:none !important;
}

.clearBoth {
	clear:both;
}