/* GENERAL */

* {
    font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    outline:0;
    padding:0;
    margin:0;
    border:0;
    text-decoration:none;
    vertical-align:baseline;
    white-space:normal;
    line-height:1;
    font-size:1em;
}

body {
    text-align:center;
    margin:0;
    background-color:#DDD;
    color:#222;
    font:13px "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    min-width:940px;
    padding-top:50px;
}

ul {
    list-style-type:none;
}

a {
    text-decoration:none;
    color:#00A5F0;
}

a:hover {
    color:#24BBFF;
}

html {
    height:auto;
}

.hide { 
    display:none !important;
}

.clearBoth {
	clear:both;
}



/*-- MENU --*/

#header {
    width:100%;
    text-align:center;
    border-bottom:1px solid #444;
    background:#000;
    position:absolute;
    top:0;
    z-index:999;
    left:0;
}

#header-div {
    width:940px;
    margin:auto;
    text-align:left;
    height:60px;
    position:relative;
}

#logo {
    float:left;
    display:block;
    margin:0 10px 0 0;
}

#nav {
    float:left;
    border-left:1px solid #444;
}

#nav li {
    float:left;
    display:block;
}

#nav a {
    display:block;
    padding:24px 20px 23px 50px;
    font-size:13px;
    color:#999;
    border-right:1px solid #444;
}

#nav .li-1 a {
    background:url(images/hot-on.png) no-repeat 20px 50%;
}

#nav .li-2 a {
    background:url(images/hot-on.png) no-repeat 20px 50%;
}

#nav a:hover {
    color:#fff;
}

#nav a.current {
    color:#00A5F0;
    background-color:#111;
}

#nav-right, #nav-right-r {
    position:absolute;
    top:0;
}

#nav-right {
    right:130px;
    border-left:1px solid #444;
}

#nav-right-r {
    width:127px;
    right:0px;
}

ul.nav-right-r li {
    float:left;
    height:60px;
}

#nav-right li {
    float:left;
    display:block;
}

#nav-right a {
    display:block;
    width:65px;
    height:60px;
    line-height:60px;
    border-right:1px solid #444;
}

#nav-right .li-search a {
    background:url(images/search.png) no-repeat 50% 50%;
}

#nav-right a:active {
    background-position:50% 55%;
}

.side-register a {
    color:#fff;
    font-size:11px;
    line-height:14px;
    font-weight:bold;
    padding:7px 10px;
    margin:15px 9px 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    display:block;
    text-shadow:0 -1px rgba(0,0,0,.2);
    box-shadow:0 0 0 1px rgba(255,255,255,.2) inset;
    text-align:center;
    width:89px;
}

.side-register a.signup-button:hover {
    background-color:#555;
    color:#fff!important;
    box-shadow:0 0 0 1px rgba(255,255,255,.2) inset,0 1px 2px #111;
}

.side-register a.signup-button {
    background-color:#00A5F0;
}

.side-register a.signup-button.blue {
    -webkit-animation:glow 2s infinite;
    -moz-animation:glow 2s infinite;
}



/* CONTENT */

.page {
	width:940px;
	margin:20px auto 40px;
}

.main-wrap {
	width:70%;
	position:relative;
	left:15%;
}

section#list-view-2 {
	margin:20px 0 0;
}

section#list-view-2 article {
	margin-bottom:30px;
	border-top:1px solid #eee;
	padding:20px 0 0;
}

section#list-view-2 article:first-child {
	border:0;
	padding:0;
}

section#list-view-2 header {
	margin-bottom:10px;
	position:relative;
}

section#list-view-2 h2 {
	word-wrap:break-word;
}

section#list-view-2 h2 a {
	font-size:20px;
	color:#000;
}

section#list-view-2 h2 a:hover {
	color:#09f;
}

section#list-view-2 p.post-meta {
	color:#999;
	margin:10px 0;
}

section#list-view-2 p.post-meta a {
	color:#999;
}

section#list-view-2 p.post-meta a:hover {
	text-decoration:underline;
}

section#list-view-2 .post-container {
	width:100%;
	position:relative;
}

section#list-view-2 .post-container a {
	display:block;
	min-height:500px;
}

section#list-view-2 .post-container a img {
	display:block;
	width:100%;
	border:0;
}

.post-afterbar-a {
	position:relative;
	margin:10px 0;
	padding-bottom:0;
}

.post-afterbar-a.in-list-view {
	width:100%;
}

.post-afterbar-a .share {
	float:left;
}

.post-afterbar-a .share ul {
	overflow:hidden;
	list-style-type:none;
}

.post-afterbar-a .share li {
	float:left;
	margin-right:10px;
}

.post-afterbar-a .share.right li {
	margin:0 0 0 10px;
}

.right {
    float: right!important;
}

.post-afterbar-a .btn-share {
	display:block;
	color:#fff;
	font-weight:700;
	background-color:#f4f4f4;
	padding:0 0 0 5px;
	margin-top:2px;
	width:45px;
	height:50px;
	text-align:center;
	position:relative;
	border-radius: 50%;
}

.post-afterbar-a .btn-share:after {
	content:" ";
	width:32px;
	height:32px;
	position:absolute;
	top:50%;
	margin-top:-15px;
	left:2px;
	background-size:240px 60px;
}

.post-afterbar-a .btn-share.facebook {
	background-color:#3b5998;
}

.post-afterbar-a .btn-share.facebook:after {
	background:url(images/hot-on.png) -90px 0 no-repeat;
}

.post-afterbar-a .btn-share.facebook:hover {
	background-color:#4c70ba;
}

.post-afterbar-a .btn-share.facebook:active {
	background-color:#36528c;
}

.post-afterbar-a .btn-share.twitter {
	background:#00aced;
}

.post-afterbar-a .btn-share.twitter:after {
	background:url(images/hot-on.png) -90px -30px no-repeat;
}

.post-afterbar-a .btn-share.twitter:hover {
	background-color:#21c2ff;
}

.post-afterbar-a .btn-share.twitter:active {
	background-color:#00a0dc;
}

.post-afterbar-a .btn-share.instagram {
	background:#bc2a8d;
}

.post-afterbar-a .btn-share.instagram:after {
	background:url(images/hot-on.png) -90px -60px no-repeat;
}

.post-afterbar-a .btn-share.instagram:hover {
	background-color:#c23f98;
}

.post-afterbar-a .btn-share.instagram:active {
	background-color:#bc2a8d;
}

.post-afterbar-a .btn-share.pinterest {
	background:#cb2027;
}

.post-afterbar-a .btn-share.pinterest:after {
	background:url(images/hot-on.png) -90px -90px no-repeat;
}

.post-afterbar-a .btn-share.pinterest:hover {
	background-color:#d0363c;
}

.post-afterbar-a .btn-share.pinterest:active {
	background-color:#cb2027;
}

.btn-vote {
	overflow:hidden;
}

.btn-vote a {
	box-sizing:border-box;
	border:1px solid #ddd;
	display:block;
	text-indent:-999px;
	position:relative;
	border-radius: 2px;
}

.vote {
	float:left;
}

.vote a.btn {
	background-repeat:no-repeat;
	background-size:100%;
	background-origin:content-box;
	padding:0;
	margin:3px;
	width:50px;
	height:50px;
	background-color:inherit;
}

.vote a.btn.btn-up {
	background-image:url(images/up_black.png);
}

.vote a.btn.btn-up:hover {
	background-image:url(images/up_active.png);
}

.vote a.btn.btn-down {
	background-image:url(images/down_black.png);
}

.vote a.btn.btn-down:hover {
	background-image:url(images/down_active.png);
}

.vote a.btn.btn-comment {
	background-image:url(images/comment.png);
}