<div id="header">
	<div id="header-div">	
		<div id="logo">
			<a href="">
				<img src="src/images/logo.png" height="55" width="120">
			</a>
		</div>			
		<ul id="nav">
			<li class="li-1">
				<a href="#" class="current">Item 1</a>
			</li>
			<li class="li-2">
				<a href="#">Item 2</a>
			</li>
		</ul>		
		<ul id="nav-right">
			<li class="li-search">
				<a href="#"></a>
			</li>
		</ul>		
		<ul id="nav-right-r">
			<li class="side-register">
				<a href="#register" id="register-link" class="signup-button" title="Not registered? Sign up today.">Log in</a>
			</li>
		</ul>
	</div>
</div>

<div class="page">
	<router-outlet></router-outlet>
</div>