<div id="header">
	<div id="header-div">	
		<div id="logo">
			<a href="">
				<img src="src/images/logo.png" height="55" width="120">
			</a>
		</div>			
		<ul id="nav">
			<li>
				<a href="#">Trending</a>
			</li>
			<li>
				<a href="#">Categorized</a>
			</li>
		</ul>		
		<ul id="nav-right">
			<li>
				<a href="#">
					<img class="margLeft" src="src/images/search.png" width="30" height="30" />
				</a>
			</li>
			<li>
				<a href="#">
					<img class="margLeft" src="src/images/add.png" width="30" height="30" />
				</a>
			</li>
			<li>
				<a href="#">
					<img class="margLeft" src="src/images/user.png" width="30" height="30" />
				</a>
			</li>
		</ul>
	</div>
</div>

<div class="page">
	<router-outlet></router-outlet>
</div>