/*-- MENU --*/

.margLeft {
    margin-left: 15px;
}

#header {
    width:100%;
    text-align:center;
    border-bottom:1px solid #444;
    background:#000;
    position:absolute;
    top:0;
    z-index:999;
    left:0;
}

#header-div {
    width:940px;
    margin:auto;
    text-align:left;
    height:60px;
    position:relative;
}

#logo {
    float:left;
    display:block;
    margin:0 10px 0 0;
    padding-top:5px;
}

#nav {
    float:left;
    border-left:1px solid #444;
}

#nav li {
    float:left;
    display:block;
}

#nav a {
    display:block;
    padding:24px 20px 23px 50px;
    font-size:13px;
    color:#999;
    border-right:1px solid #444;
}

#nav .li-1 a {
    background:url(../images/hot-on.png) no-repeat 20px 50%;
}

#nav .li-2 a {
    background:url(../images/hot-on.png) no-repeat 20px 50%;
}

#nav a:hover {
    color:#fff;
}

#nav a.current {
    color:#00A5F0;
    background-color:#111;
}

#nav-right {
    position:absolute;
    right:0;
    border-left:1px solid #444;
}

#nav-right li {
    float:left;
    display:block;
}

#nav-right a {
    display:block;
    width:65px;
    height:60px;
    line-height:60px;
    border-right:1px solid #444;
}

/* CONTENT */

.page {
	width:960px;
	margin:20px auto;
}