/*-- MENU --*/

.margLeft {
    margin-left: 15px;
}

#header {
    width:100%;
    text-align:center;
    border-bottom:1px solid #444;
    background:#000;
    position:absolute;
    top:0;
    z-index:999;
    left:0;
}

#header-div {
    width:940px;
    margin:auto;
    text-align:left;
    height:60px;
    position:relative;
}

#logo {
    float:left;
    display:block;
    margin:0 10px 0 0;
    padding-top:5px;
}

#nav {
    float:left;
    border-left:1px solid #444;
}

#nav li {
    float:left;
    display:block;
}

#nav li a {
    display:block;
    padding:23px 20px 23px 20px;
    font-size:15px;
    color:white;
    border-right:1px solid #444;
    font-weight: bold;
}

#nav li a:hover {
    color:#55acee;
    text-decoration: none;
}

#nav-right {
    position:absolute;
    right:0;
    border-left:1px solid #444;
}

#nav-right li {
    float:left;
    display:block;
}

#nav-right a {
    display:block;
    width:65px;
    height:60px;
    line-height:60px;
    border-right:1px solid #444;
}

/* CONTENT */

.page {
	width:960px;
	margin:20px auto;
}